@use "global" as *;

.catalog-card {
    color: $black;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 100%;
    height: rem(205); /* 固定の高さを設定 */
    box-sizing: border-box;
}

.catalog-card__title {
    text-align: center;
    padding: rem(9.5) 0;
    font-size: rem(16);
    font-weight: $bold;
    line-height: 1.35;
    background-color: $black;
    color: $white;
}

.catalog-card .catalog-card__title--padding {
    padding: 0;
}


.catalog-card__content {
    padding: rem(20) rem(16) rem(6) rem(20);
    font-size: rem(12);
    font-weight: $bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 要素間のスペースを均等にする */
    flex-grow: 1; /* 親要素の高さに応じて成長 */
}

.catalog-card__address,
.catalog-card__url {
    display: flex;
    line-height: 1.9;
}

.catalog-card__address dt,
.catalog-card__url dt {
    width: 20%;
}

.catalog-card__address dd,
.catalog-card__url dd {
    width: 80%;
}

.catalog-card__url {
    margin-top: auto; /* 下揃え */
}

.catalog-card__text {
    margin-top: rem(4);
    text-decoration: underline;
    margin-left: auto;
    align-self: flex-end;
}


.catalog-card__url a:hover {
    text-decoration: underline;
}