@use "global" as *;

.choice-card__top {
    position: absolute;
    top: -6%; /* 親要素の50%位置 */
    left: 50%;
    transform: translate(-50%, -50%); /* 画像の中央を基準に位置を調整 */
    width: rem(306);
    height: rem(258);
    @include mq(md) {
        top: -7.5%; /* 親要素の50%位置 */
        width: rem(321);
        height: rem(271);
    }
}

.choice-card__top img {
    width: 100%; /* 画像の幅を親要素に合わせる */
    height: 100%;
    object-fit: cover;
}





.choice-card__center {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 上揃えにする */
    background-color: $orange;
    color: $white;
    padding: rem(20) rem(20) ;
    @include mq(md) {
        min-height: rem(213);
    }
}

.choice-card__center-text {
    flex-grow: 1; /* 高さを揃える */
    font-size: rem(16);
    font-weight: $bold;
    line-height: 1.75;
    letter-spacing: 0.05em;
}


.choice-card__center-span{
    color: #EB6100;
}






.choice-card__bottom {
    background-color: $white;
    padding: rem(20) rem(18) rem(20) rem(22);
    display: flex;
    flex-direction: column;
    align-items: center; /* 中央揃え */
}

.choice-card__bottom-text {
    padding: rem(10) 0 ;
    font-size: rem(16);
    font-weight: $medium;
    line-height: 1.75;
    letter-spacing: 0.05em;
    @include mq(md) {
        min-height: rem(271);
    }
}

.choice-card__bottom-span{
    font-size: $bold;
    color: $orange;
}

.choice-card__bottom-img{
    width: rem(244);
    height: rem(41.5);
    margin: auto;
}





.choice-card__bottom-top-img{
    width: rem(244);
    height: rem(41.5);
    margin: auto;
}
