@use "global" as *;

.company{
    background-color: #D7EFF7;
}

.company__inner{
    max-width: rem(390);
    margin: auto;
    padding: 0 rem(13);
    text-align: center;
    @include mq(md){
        max-width: rem(1224);
        padding: 0 rem(25);
    }
}

.company__title {
    max-width: rem(420);
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    background-image: url('../images/common/company-cloud.png');
    background-position: center rem(30); 
    background-repeat: no-repeat;
    background-size: rem(409) rem(184);
    padding: rem(50) 0;
    @include mq(md) {
        max-width: rem(1174);
        background-position: rem(220) rem(0); 
        background-size: rem(708) rem(320);
    }
}

.company__title-font{
    font-size: rem(32);
}


.company__list{
    margin-top: rem(20);
    @include mq(md){
        margin-top: rem(50);
    }
}