@use "global" as *;

.detail{
    text-align: center;
}

.detail__container{
    display: flex;
    max-width: $max-width;
    margin: auto;
    @include mq(md) {
        max-width: rem(1440);
        margin: auto;
    }
}

.detail__content{
    width: 100%;
    @include mq(md){
        width: 85.34%;
        max-width: rem(1098);
    }
}

.detail__item{
    background-color: rgba(24, 163, 55, 0.11);
    padding: rem(120) 0 rem(80);
}






























.detail__aside{
    width: 100%;
    background-color: $white;
    @include mq(md){
        width: 26.56%;
    }
}