@use "global" as *;

.detail{
    background-color: rgba(24, 163, 55, 0.11);
    text-align: center;
    @include mq(md) {
        background-color: none;
    }
}

.detail__container{
    display: flex;
    justify-content: center;
    max-width: rem(500);
    margin: auto;
    @include mq(md) {
        max-width: rem(1440);
    }
}

.detail__content{
    width: 100%;
    @include mq(md){
        width: 85.34%;
        max-width: rem(1098);
    }
}

.detail__item{
    background-color: rgba(24, 163, 55, 0.11);
    padding-top: rem(100);
    @include mq(md) {
        padding-top: rem(150);
    }
}












.detail__aside{
    width: 100%;
    background-color: $white;
    @include mq(md){
        width: 26.56%;
    }
}