@use "global" as *;

.detail-head{
    padding: 0 rem(25) rem(80);
    @include mq(md) {
        max-width: rem(974);
        margin: auto;
    }
}



.detail-head__heading{
    max-width: rem(370);
    margin:auto;
    @include mq(md) {
        max-width: rem(650);
    }
}

.detail-head__title{
    position: relative;
    color: $green;
    font-size: rem(36);
    font-weight: $semiBold;
    line-height: 0.968;
    letter-spacing: 0.04em;
    text-shadow:
        2px 2px 0 $white,
        -2px -2px 0 $white,
        2px -2px 0 $white,
        -2px 2px 0 $white;
    @include mq(md) {
        font-size: rem(48);
    }
}

.detail-head__heading-icon{
    position: absolute;
    top: -95%;
    left: -3%;
    width: rem(77.9);
    height: rem(77.9);
    @include mq(md) {
        width: rem(145);
        height: rem(145);
    }
}


.detail-head__span-font{
    font-size: rem(48);
    @include mq(md) {
        font-size: rem(72);
    }
}

.detail-head__span-orange{
    color:$orange ;
}

.detail-head__span-blue{
    color: $blue;
}

.detail-head__company{
    width: 100%;
    margin: rem(67) auto auto auto;
    @include mq(md) {
        width: 79.26%;
        margin: rem(67) auto auto auto;
    }
}

.detail-head__text{
    text-align: left;
    background-color:$green ;
    color: $white;
    width: 100%;
    margin: rem(20) auto auto auto;
    padding: rem(20);
    border-radius: rem(4);
    font-size: rem(16);
    font-weight: $bold;
    letter-spacing: 0.01em;
    line-height: 1.8;
    @include mq(md) {
        width: 82.03%;
        margin: rem(20) auto auto auto;
        padding: rem(20) rem(38);
    }
}

.detail-head__text-orange{
    color: #FDD23E;
}

.detail-head__bubble{
    width: 100%;
    margin: rem(40) auto auto auto;
    @include mq(md) {
        width: 79.46%;
        margin: rem(67) auto auto auto;
    }
}








/*ボタン*/
.detail-head__buttons {
    width: 100%;
    margin: rem(29) auto auto auto; /* 追加 */
    @include mq(md) {
        display: flex;
        gap: 0 rem(31.2);
        margin: rem(48) auto auto auto; /* 追加 */
    }
}

.detail-head__button + .detail-head__button{
    margin-top: rem(12);
    @include mq(md) {
        margin-top: rem(0);
    }
}

.detail-head__button {
    background: linear-gradient(to bottom right, #18A337 50%, #2BB349 50%);
    position: relative;
    color: $white;
    font-size: rem(16);
    font-weight: $bold;
    width: 100%;
    padding: rem(24) 0;
    z-index: 1;
    transition: 0.4s;
    overflow: hidden;
    border-radius: rem(3.2);
    @include mq(md){
        padding: rem(24.5) 0;
        font-size: rem(24.74);
        font-weight: $bold;
        letter-spacing: 0.124em;
    }
}

.detail-head__button--orange {
    background: linear-gradient(to bottom right, #FEA722 50%, #FFBC56 50%);
}

.detail-head__button--blue {
    background: linear-gradient(to bottom right, #0A9ECB 50%, #2FB0D7 50%);
}


// .detail-head__button::before {
//     content: "";
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -1;
//     background-color: #fff;
//     transform-origin: 100% 50%;
//     transform: scaleX(0);
//     transition: transform ease 0.4s;
// }

// .detail-head__button::after{
//     border-radius: rem(0);
//     transition: all 0.4s ease-in-out;
// }

// .detail-head__button:hover span {
//     color: $green;
// }   

// .detail-head__button:hover {
//     border: solid 1px $green ;
// }

// .detail-head__button:hover::before {
//     transform-origin: 0% 50%;
//     transform: scale(1, 1);
// }

.detail-head__button a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

.detail-head__button span::after {
	background-image: url(../images/common/arrow-green.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 50%;
    right: rem(20);
    width: rem(20);
	height: rem(20);
	transform: translateY(-50%);
	transition: 0.4s background-color;
    @include mq(md){
        top: 47%;
        right: rem(20);
        width: rem(26);
        height: rem(26);
    }
}


.detail-head__button--orange span::after {
	background-image: url(../images/common/arrow-orange.png);
}

.detail-head__button--blue span::after {
	background-image: url(../images/common/arrow-blue.png);
}

// .detail-head__button:hover span::after {
//     background-image: url(../images/common/detail-head-arrow-red.png);
// }







