@use "global" as *;

.fv {
    background-image: url('../images/common/fv-bg-sp.png');
    background-position: center calc(50% - 40px);
    background-repeat: no-repeat;
    background-size: rem(752) rem(702);
    padding: rem(25) 0 rem(40);
    margin-top: rem(30);
    @include mq(md) {
        background-image: url('../images/common/fv-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: rem(1353) 100%;
        padding: 0 0 rem(41);
        margin-top: rem(102);
    }
}

.fv::before{
    @include mq(md) {
        background-image: url('../images/common/fv-icon.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        content: "";
        top: rem(117);
        right: calc(50% - min(50%, rem(660)));
        width: 21.05%;
        height: rem(232);
        z-index: 100;
    }
}


.fv__main{
    padding-top: rem(64);
}

.fv__main img {
    width: rem(382);
    height: rem(368);
    margin:  auto;
    position: relative;
    @include mq(md) {
        width: rem(748);
        height: rem(465);
    }
}

.fv__main::before{
    background-image: url('../images/common/fv-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    top: rem(2.8);
    right: calc(50% - min(50%, rem(185)));
    width: rem(127);
    height: rem(123);
    z-index: 5001;
    @include mq(md) {
        background-image:none;
    }
}

.fv__topic{
    margin-top: rem(20);
    @include mq(md) {
        margin-top: rem(80);
    }
}

.fv__inner{
    max-width: rem(390);
    margin: auto;
    @include mq(md) {
        max-width: rem(1250);
        padding: 0 rem(25);
    }
}

.fv__list{
    @include mq(md){
        display: flex;
        flex-wrap: wrap;
    }
}

.fv__item{
    @include mq(md){
        max-width: calc(33.3333% - 1.25rem * 2 / 3 );
        width: 100%;
    }
}

.fv__item + .fv__item{
    margin-top: rem(-16);
    @include mq(md){
        margin-top: 0;
        margin-left: rem(20);
    }
}

.fv__item img {
    width: rem(274);
    height: rem(97);
    transition: transform 0.3s ease;
    margin-left: auto;
    @include mq(md) {
        width: 100%;
        height: 100%;
    }
}

.fv__item img:hover {
    transform: scale(1.05); /* 画像を1.1倍に拡大 */
}