@use "global" as *;




.header-nav__list{
    display: flex;
    align-items: center;
    gap: rem(20);
    padding-right: rem(38);
}

.header-nav__link{
    display: flex;
    align-items: center;
    gap: rem(10);
}

.header-nav__text{
    color: $blue;
    font-size: rem(16);
    font-weight: $bold;
    letter-spacing: 0.04em;
}

.header-nav__link img {
    width: rem(16);
    height: rem(7);
    transition: transform 0.3s ease; /* 画像の動きをスムーズにする */
}

.header-nav__item:hover .header-nav__link img {
    transform: translateY(rem(7)); /* 画像を3px（例）下に移動 */
}
