@use "global" as *;

.reason{
    background-color: #D7EFF7;
    text-align: center;
    padding: rem(80) 0 0 0 ;
    @include mq(md) {
        padding: rem(107) 0 0 0 ;
    }
}

.reason__title{
    position: relative;
    max-width: rem(370);
    margin: auto;
    @include mq(md) {
        max-width: rem(1220);
    }
}

.reason__icon{
    position: absolute;
    top: rem(-7);
    left: rem(15);
    width: rem(77.9);
    height: rem(77.9);
    @include mq(md) {
        top: rem(-45);
        left: 0;
        width: rem(133);
        height: rem(133);
    }
}


.reason__span-orange{
    color: $orange;
}

.reason__span-blue{
    color: $blue;
}


.reason__inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(25);
    @include mq(md) {
        max-width: rem(1202);
        padding: 0;
    }
}

.reason__container{
    margin-top: rem(40);
    @include mq(md) {
        margin-top: rem(80);
    }
}




.reason__shapes {
    position: relative;
    background-image: url('../images/common/reason-bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include mq(md) {
        background-image: url('../images/common/reason-bg2.png');
        background-position: calc(50% + 10px) top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.reason__head{
    margin-top: rem(55);
}



.reason__shapes-inner{
    max-width: $max-width;
    margin:auto;
    padding: rem(53) rem(25) rem(80);
    @include mq(md) {
        max-width: rem(1230);
        padding: rem(250) rem(25) rem(169);
    }
}

.reason__shapes-img{
    position: relative;
    z-index: 3;
    margin-top: rem(120);
    @include mq(md) {
        margin-top: rem(0);
    }
}

.reason__shapes-bg{
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
