@use "global" as *;

.reason-card{
    @include mq(md){
        display: flex;
    }
}

.reason-card__item {
    width: 100%;
    position: relative;
    @include mq(md){
        width: 50%;
        padding: rem(35) rem(50) 0;
    }
}

.reason-card__item:first-child {
    @include mq(md){
        border-right: 1px dashed $black;
    }
}

.reason-card__item + .reason-card__item{
    margin-top: rem(40);
    @include mq(md) {
        margin-top: 0;
    }
}

.reason-card__head{
    width: 83.45%;
    margin: auto;
    @include mq(md) {
        width: 84%;
    }
}

.reason-card__img{
    aspect-ratio:284/170 ;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md) {
        aspect-ratio: 420/251;
    }
}

.reason-card__img{
    margin-top: rem(27);
    @include mq(md) {
        margin-top: rem(40);
    }
}

.reason__frame {
    display: flex;
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
    position: relative;
}

.reason__frame-text + .reason__frame-text{
    margin-top: rem(30);
}

.reason__frame-img{
    display: block;
    width: rem(340);
    margin: auto;
    @include mq(md) {
        width: 100%;
    }
}

.reason__frame-textBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: rem(40) rem(33) rem(33);
    color: $black;
    width: rem(340);
    border-radius: 10px;
    text-align: left;
    text-align: justify;
    @include mq(md) {
        width: 100%;
        padding: rem(56) rem(48) rem(30);
    }
}

.reason__frame-text{
    font-size: rem(16);
    font-weight: $semiBold;
    line-height: 1.6;
    letter-spacing: 0.01em;
    @include mq(md) {
        font-size: rem(20);
    }
}

.reason__span-font{
    font-size: rem(32);
    @include mq(md) {
        font-size: rem(48);
    }
}

.reason__text-orange{
    color: $low-orange;
}

.reason__text-blue{
    color: #0A9ECB;
}