@use 'global' as *;

.recommend-card{
    position: relative;
}

.recommend-card__content{
    background-image: url('../images/common/recommend-card-bg1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem(35) rem(12.3) rem(41);
    margin: auto;
    width: 87.2%;
    @include mq(md) {
        width: 88.5%;
        padding: rem(57) rem(20) rem(68);
    }
}

.recommend-card__name {
    position: absolute;
    top: -5%;
    left: 0%;
    @include mq(md) {
        top: -4%;
    }
}


.recommend-card__title{
    font-size: rem(20);
    font-weight: $bold;
    line-height: 1.25;
    letter-spacing: 0.01em;
    @include mq(md) {
        font-size: rem(32);
    }
}

.recommend-card__img{
    width:rem(259) ;
    height: rem(174);
    margin: rem(24) auto auto auto;
    @include mq(md) {
        width:rem(422) ;
        height: rem(284);
        margin: rem(40) auto auto auto;
    }
}

.recommend-card__img img {
    aspect-ratio: 259/174;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md) {
        aspect-ratio: 422/284;
    }
}

.recommend-card__source{
    margin-top: rem(10);
    display: flex;
    justify-content: center;
    font-size: rem(8.6);
    font-weight: $regular;
    @include mq(md) {
        margin-top: rem(15);
        font-size: rem(14);
    }
}

.recommend-card__source-text{
    text-decoration: underline;
}

.recommend-card__source-text a:hover{
    opacity: 0.5;
    transition: 0.3s;
}

.recommend-card__strengths-img{
    width: rem(220);
    height: rem(49);
    margin: rem(24) auto auto auto;
    @include mq(md) {
        width: rem(341);
        height: rem(76);
        @include mq(md) {
            margin: rem(40) auto auto auto;
        }
    }
}

.recommend-card__strengths-list {
    background-color: #ffffff;
    border-radius: rem(4);
    margin-top: rem(-6);
    padding: rem(7) rem(35) rem(9);
    @include mq(md) {
        padding: rem(12) rem(35) rem(14);
    }
}

.recommend-card__strengths-item {
    font-size: rem(16);
    font-weight: $semiBold;
    color: $green;
    text-align: center;
    border-bottom: 1px dashed $green;
    padding: rem(11) 0 rem(6);
    @include mq(md) {
        font-size: rem(20);
        padding: rem(15) 0;
    }
}

.recommend-card__strengths-item:last-child {
    border-bottom: none;
}

.recommend-card__service-img{
    width: rem(223);
    height: rem(49);
    margin: rem(48) auto auto auto;
    @include mq(md) {
        width: rem(341);
        height: rem(76);
        margin: rem(80) auto auto auto;
    }
}

.recommend-card__wrapper{
    margin-top: rem(23);
    display: flex;
    gap: 0 rem(6);
    @include mq(md) {
        margin-top:rem(40) ;
    }
}

.recommend-card__content--blue{
    background-image: url('../images/common/recommend-card-bg2.png');
}

.recommend-card__strengths-item--blue{
    color: $blue;
}

.recommend-card__strengths-item--blue{
    font-size: rem(12.26);
    @include mq(md) {
        font-size: rem(20);
    }
}






/*ボタン*/
.company-card__buttons {
    width: 87.2%;
    margin: rem(29) auto auto auto; /* 追加 */
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(md) {
        width: 88.5%;
        margin: rem(48) auto auto auto; /* 追加 */
    }
}

.company-card__button + .company-card__button{
    margin-top: rem(12);
    @include mq(md) {
        margin-top: rem(20);
    }
}

.company-card__button {
    background: linear-gradient(to bottom right, #18A337 50%, #2BB349 50%);
    position: relative;
    color: $white;
    font-size: rem(16);
    font-weight: $bold;
    width: 100%;
    padding: rem(24) 0;
    border-radius: rem(4);
    z-index: 1;
    transition: 0.4s;
    overflow: hidden;
    @include mq(md){
        padding: rem(35.5) 0;
        font-size: rem(30.93);
        font-weight: $bold;
        letter-spacing: 0.03em;
    }
}

.company-card__button {
    overflow: hidden;
  }
  .company-card__button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(130deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%);
    transition: .5s;
  }
  
  /* ホバー時のスタイル */
  .company-card__button:hover::before {
    top: 0;
    left: 100%;
  }




.company-card__button--orange {
    background: linear-gradient(to bottom right, #FEA722 50%, #FFBC56 50%);
}

.company-card__button--blue {
    background: linear-gradient(to bottom right, #0A9ECB 50%, #2FB0D7 50%);
}



.company-card__button a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

.company-card__button span::after {
	background-image: url(../images/common/arrow-green.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 50%;
    right: rem(20);
    width: rem(20);
	height: rem(20);
	transform: translateY(-50%);
	transition: 0.4s background-color;
    @include mq(md){
        top: 48%;
        right: rem(20);
        width: rem(33);
        height: rem(33);
    }
}


.company-card__button--orange span::after {
	background-image: url(../images/common/arrow-orange.png);
}

.company-card__button--blue span::after {
	background-image: url(../images/common/arrow-blue.png);
}




