@use "global" as *;

.recommend{
    background-color: #e5f4e9;
    text-align: center;
    background-image: url('../images/common/recommend-bg-sp.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: rem(834) rem(130);
    padding: rem(40) 0 rem(80);
    @include mq(md) {
        background-image: url('../images/common/recommend-bg.png');
        padding: rem(80) 0;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.recommend__inner{
    max-width: $max-width;
    margin: auto;
    @include mq(md) {
       max-width: rem(1329);
       padding: 0 rem(25);
    }
}



.recommend__list{
    margin-top: rem(80);
    @include mq(md) {
       margin-top: rem(140);
    }
}