@use "global" as *;

.section-title{
    color: $blue;
}

.section-title--green{
    color: $green;
}

.section-title--white{
    color: $white;
}

.section-title__jp--black{
    color: $black;
}

.section-title__jp--red{
    color:#EB6100 ;
}



.section-title__en {
    font-family: $second-font-family;
    font-size: rem(16);
    font-weight: bold; /* 太字にする */
    font-style: italic; /* イタリック体にする */
    text-transform: uppercase;
}

.section-title__en--red{
    color:#EB6100 ;
}

.section-title__en--orange{
    color:$orange ;
}

.section-title__prefecture{
    margin-top: rem(10);
    font-size: rem(20);
    font-weight: $bold;
    @include mq(md) {
        margin-top: rem(20);
        font-size: rem(32);
    }
}

.section-title__prefecture--green,
.section-title__jp--green,
.section-title__jp--black{
    text-shadow:
        2px 2px 0 $white,
        -2px -2px 0 $white,
        2px -2px 0 $white,
        -2px 2px 0 $white;
}

.section-title__jp{
    margin-top: rem(10);
    font-size: rem(36);
    font-weight: $bold;
    line-height: 1.25;
    letter-spacing: 0.04em;
    @include mq(md) {
        margin-top: rem(20);
        font-size: rem(48);
    }
}


.section-title__wrapper img {
    width: rem(356);
    height: rem(71);
    margin:auto ;
    @include mq(md) {
        width:rem(581);
        height: rem(116);
        margin: rem(12) auto auto auto ;
    }
}

.section-title__content{
    position: relative;
}

.section-title__img{
    position: absolute;
    top: rem(-40);
    left: rem(15);
    width:rem(70);
    height: rem(70);
    @include mq(md) {
        top: rem(-50);
        left: rem(170);
        width: rem(145);
        height: rem(145);
    }
}

.section-title__jp--line{
    line-height: 1.2;
    @include mq(md) {
        line-height: 1.25;
    }
}

.section-title__en--padding{
    padding-bottom: rem(46);
    @include mq(md) {
        padding-bottom: 0;
    }
}