@use "global" as *;

.subsidy{
    text-align: center;
    background-color: #0A9ECB;
    background-image: url('../images/common/subsidy-bg-sp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem(82) 0 rem(80);
    @include mq(md) {
        background-image: url('../images/common/subsidy-bg.png');
        background-position: center;
        background-repeat: repeat-x;
        background-size: rem(1440) 100%;
        padding: rem(80) 0;
    }
}

.subsidy__inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(25);
    @include mq(md) {
        max-width: rem(1234);
    }
}

.subsidy__title-span{
    font-size: rem(32);
    @include mq(md) {
        font-size: rem(48);
    }
}

.subsidy__container {
    overflow-x: scroll;
    width: calc(100% + rem(25));  // 右側のパディングのみ補正
    margin: rem(40) auto auto 0; // 左側のパディングはそのまま
    @include mq(md) {
        width: 100%;
        margin: rem(80) auto auto auto;
    }
}

.subsidy__img {
    width: rem(830);
    height: rem(811);
    @include mq(md) {
        width: 100%;
        height: 100%;
    }
}




.subsidy__sentence{
    text-align: left;
    max-width: $max-width;
    margin:rem(40) auto auto auto;
    padding: 0 rem(11);
    @include mq(md) {
        max-width: rem(1071);
        margin:rem(80) auto auto auto;
        padding: 0 rem(25);
    }
}

.subsidy__text{
    color: $white;
    font-size: rem(16);
    font-weight: $semiBold;
    letter-spacing: 0.01em;
    line-height: 1.75;
    @include mq(md) {
        font-size: rem(20);
        line-height: calc(28/20);
    }
}