@use "global" as *;

.subsidy{
    text-align: center;
    background-color: #46B2E7;
    padding: rem(80) 0;
}

.subsidy__inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(25);
    @include mq(md) {
        max-width: rem(1234);
    }
}

.subsidy__img{
    margin-top: rem(40);
    @include mq(md) {
        margin-top: rem(40);
    }
}

.subsidy__sentence{
    text-align: left;
    max-width: $max-width;
    margin:rem(40) auto auto auto;
    padding: 0 rem(25);
    @include mq(md) {
        max-width: rem(1071);
        margin:rem(80) auto auto auto;
    }
}

.subsidy__text{
    color: $white;
    font-size: rem(16);
    font-weight: $semiBold;
    letter-spacing: 0.01em;
    line-height: 1.75;
    @include mq(md) {
        font-size: rem(20);
    }
}