@use "global" as *;

.value{
    background-color: #18A337;
    padding: rem(80) 0;
    text-align: center;
}

.value__bg{
    max-width: rem(1440);
    margin: auto;
    position: relative;
}

.value__bg::before{
    background-image: url('../images/common/value-bg-top.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    top: -4.5%;
    right: calc(50% - min(47%, 700px));
    width: rem(178);
    height: rem(175);
    z-index: 1;
    @include mq(md) {
        top: -6%;
        right: calc(50% - min(50%, rem(710)));
    }
}

.value__bg-bottom{
    position: relative;
}

.value__bg-bottom::before{
    background-image: url('../images/common/value-bg-bottom.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    bottom: -4.5%;
    left: calc(50% - min(47%, rem(710)));
    width: rem(178);
    height: rem(175);
    z-index: 1;
    @include mq(md) {
        bottom: -6%;
        left: calc(50% - min(50%, rem(710)));
    }
}

.value__inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(25);
    @include mq(md) {
        max-width: rem(1072);
    }
}

.value__head{
    position: relative;
    max-width: rem(350);
    margin: auto;
    @include mq(md) {
        max-width: 100%;
    }
}

.value__icon{
    position: absolute;
    top: 16%;
    left: -4.5%;
    width: rem(156);
    height: rem(120);
    z-index: 1;
    @include mq(md) {
        top: 0;
        left: 2.5%;
        width: rem(241);
        height: rem(185);
    }
}

.value__title{
    position: relative;
    z-index: 100;
}

.value__title-font{
    font-size: rem(32);
    @include mq(md) {
        font-size: rem(48);
    }
}

.value__list{
    margin-top: rem(40);
    @include mq(md) {
        margin-top: rem(160);
    }
}